<h1>Edit Your Wiki</h1>

<div class="row">
  <div class="col-md-7">
    <%= form_for @wiki do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter your new wiki name" %>
      </div>
      <div class="form-group">
        <%= f.label "Description" %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter your new description" %>
      </div>
      <% if current_user.premium? || current_user.admin? %>
        <div class="form-group checkbox">
          <%= f.label :private, class: 'checkbox' do %>
            <%= f.check_box :private %> Make wiki private?
          <% end %>
        </div>
      <% end %>
      <%= f.submit "Save", class: 'btn btn-success' %>
    <% end %>
  </div>

  <div class="col-md-5 well">
    <h3>Please enter your description using Markdown.</h3>
    <h5>If you're not familiar with Markdown check out this <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="blank">handy cheat sheet</a>.</h5>
    <br>

    <% if @wiki.private && (current_user.premium? || current_user.admin?) %>
    <table class="well table">
        <h3>Collaborators</h3>
        <thead>
          <th>User</th>
          <th>Access</th>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr class="media">
            <td><%= user.email %></td>
            <td>
            <% if !@wiki.collaborate_users.include?(user) %>
              <%= link_to "Grant Access", wiki_collaborators_path(user_id: user.id, wiki_id: @wiki.id), method: :post, class:"btn btn-success" %>
            <% elsif @wiki.collaborate_users.include?(user) %>
              <%= link_to "Revoke Access", wiki_collaborator_path(user_id: user.id, wiki_id: @wiki.id), method: :delete, class:"btn btn-danger" %>
            <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
