<h1>Edit Your Wiki</h1>
<% console %>

<div class="row">
  <div class="col-md-8">
    <%= form_for @wiki do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter your new wiki name" %>
      </div>
      <div class="form-group">
        <%= f.label "Description" %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter your new description" %>
      </div>
      <div class="form-group">
        <%= f.label :private, class: 'checkbox' do %>
          <%= f.check_box :private %> Make wiki private?
        <% end %>
      </div>
      <%= f.submit "Save", class: 'btn btn-success' %>
    <% end %>
  </div>

  <div class="col-md-4 well">
    <h3>Please enter your description using Markdown.</h3>
    <h5>If you're not familiar with Markdown check out this <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="blank">handy cheat sheet</a>.</h5>
    <br>

  <% if @wiki.private %>
    <% @wiki.collaborate_users.each do |col_user|%>
      <%= col_user.email %>
    <% end %>
    <table class="col-md-4 well table">
      <h3>Add Collaborators</h3>
      <thead>
        <th>User</th>
        <th>Grant Access</th>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr class="media">
          <td><%= user.email %></td>
          <td>
          <%= link_to 'Grant Access', wiki_collaborators_path(@wiki), method: :post, class:"btn btn-success" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  </div>
</div>
