<div class="wikis">
	<div class="wiki-head">
		<h1>STORIES OF TRASH</h1>
	</div>
	<div class="wiki-image">
		<img src="/images/wiki_header.jpg" alt="crud-collage">
	</div>
	<div>
		<div class="col-md-8">
			<table class="table table-striped">
				<tbody>
					<% @wikis.each do |wiki| %>
						<tr class="media">
							<td>
								<% if wiki.collaborate_users.include?(current_user) %>
									<i class="glyphicon glyphicon-eye-open" title="You can view and edit this private wiki."></i>
								<% end %>
								<% if wiki.private %>
									<i class="glyphicon glyphicon-sunglasses" title="This is a private wiki."></i>
								<% end %>
								<%= link_to " #{wiki.title} ", wiki %>
							</td>
					 		<% if user_signed_in? && current_user == wiki.user %>
								<td><%= link_to "Edit", edit_wiki_path(wiki.id), class:"btn btn-success" %></td>
								<td><%= link_to "DELETE", wiki, method: :delete, class:"btn btn-danger", data: {confirm: "Are you sure?"} %></td>
							<% elsif user_signed_in? %>
								<td><%= link_to "Edit", edit_wiki_path(wiki.id), class:"btn btn-success" %></td>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>

		<div class="col-md-4 well">
			<div class="text-center">
				<% if user_signed_in? %>
					<%= link_to "Create a new Wiki", new_wiki_path, class: "btn btn-success" %>
				<% end %>   
			</div>
			<br>
			<h4><i class="glyphicon glyphicon-sunglasses" title="This is a private wiki."></i> Private wiki.</h4>
			<h4><i class="glyphicon glyphicon-eye-open" title="You can view this private wiki."></i> Private wiki that you're able to view.</h4>
		</div>
	</div>
</div>