<div class="jumbotron">
	<h1><%= @wiki.title %></h1>
	<p><%= @wiki.body %></p>
	<h5>Created by <strong><%= @wiki.user.email %></strong> | Last updated on <strong><%= @wiki.updated_at %></strong></h5>
</div>

<div class="buttons text-center">
	<% if user_signed_in? && current_user == @wiki.user %>
		<%= link_to "Edit Wiki", edit_wiki_path, class: "btn btn-success" %>
		<%= link_to "Delete Wiki", @wiki, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
	<% elsif user_signed_in? %>
		<%= link_to "Edit Wiki", edit_wiki_path, class: "btn btn-success" %>
	<% end %>
</div>
