<div class="wiki-item jumbotron">
	<h1><%= @wiki.title %></h1>
	<p><%= markdown(@wiki.body) %></p>
	<h5><strong><%= @wiki.user.email %></strong> | Created: <strong><%= time_ago_in_words(@wiki.created_at) %> ago</strong> | Last update: <strong><%= time_ago_in_words(@wiki.updated_at) %> ago</strong></h5>
</div>

<div class="buttons text-center">
	<% if user_signed_in? && current_user == @wiki.user %>
		<%= link_to "Edit Wiki", edit_wiki_path, class: "btn btn-success" %>
		<%= link_to "Delete Wiki", @wiki, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
	<% elsif user_signed_in? %>
		<%= link_to "Edit Wiki", edit_wiki_path, class: "btn btn-success" %>
	<% end %>
</div>